.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --iosBtn: hsl(171, 66%, 44%);
  --macBtn: hsl(233, 100%, 69%);
  --darkGray: hsl(210, 10%, 33%);
  --lightGray: hsl(201, 11%, 66%);
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.header {
  position: relative;
  z-index: 0;
}
.header__bg {
  position: absolute;
  inset-inline: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.header__bg-desktop-visible {
  display: none;
}
.header__content {
  padding: 12em 2em 10em;
  text-align: center;
}
.header__img {
  width: 100px;
  height: auto;
}
.header__title {
  margin: 1.6em 0 0.6em;
  color: var(--darkGray);
  font-size: clamp(2.5rem, 6.5vw, 5rem);
}
.header__text {
  max-width: 650px;
  margin: 0 auto;
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 160%;
}
.header__buttons {
  margin-block-start: 3.5em;
}
.header__btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.1em 2em;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.header__btn--green {
  background-color: var(--iosBtn);
  box-shadow: 0 4px 0 hsl(171, 80%, 34%);
}
.header__btn--purple {
  margin-block-start: 1.5em;
  background-color: var(--macBtn);
  box-shadow: 0 4px 0 hsl(233, 77%, 57%);
}
.header__btn--green::before {
  box-shadow: 1px 5px 10px hsla(171, 66%, 44%, 0.466);
}
.header__btn--purple::before {
  box-shadow: 1px 5px 10px hsla(233, 66%, 44%, 0.466);
}
.header__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
}

.snippets__content {
  margin: 0 auto;
  max-width: 1400px;
  padding: 2em;
  text-align: center;
}
.snippets__title {
  margin-block-end: 1em;
  font-size: clamp(2.3rem, 5.5vw, 4.4rem);
  color: var(--darkGray);
}
.snippets__text {
  max-width: 850px;
  margin: 0 auto;
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 160%;
}
.snippets__img {
  margin: 5em 0;
  width: 100%;
  height: auto;
}
.snippets__subtitle {
  font-size: clamp(1.85rem, 4vw, 4rem);
  color: var(--darkGray);
}
.snippets__info {
  margin: 0.7em 0 2em;
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 1.8rem);
  line-height: 160%;
}

.clipboard__content {
  padding: 8em 2em 4em;
  text-align: center;
}
.clipboard__title {
  margin-block-end: 1em;
  font-size: clamp(2.3rem, 5.5vw, 4.4rem);
  color: var(--darkGray);
}
.clipboard__text {
  max-width: 650px;
  margin: 0 auto;
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 160%;
}
.clipboard__img {
  max-width: 1000px;
  margin: 5em 0 0;
  width: 100%;
  height: auto;
}

.workflow__content {
  padding: 2em;
  text-align: center;
}
.workflow__title {
  margin-block-end: 1em;
  font-size: clamp(2.3rem, 5.5vw, 4.4rem);
  color: var(--darkGray);
}
.workflow__text {
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 160%;
}
.workflow__container-top {
  margin: 7em 0 10em;
}
.workflow__icon {
  margin-block-end: 2.5em;
  width: 35px;
  height: auto;
}
.workflow__subtitle {
  font-size: clamp(1.85rem, 4vw, 4rem);
  color: var(--darkGray);
}
.workflow__info {
  margin: 1em 0 2em;
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 160%;
}
.workflow__box {
  margin-block-end: 6em;
}
.workflow__container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}
.workflow__logo {
  display: block;
  width: 120px;
  height: auto;
}

.bottom-section__content {
  margin: 8em auto;
  text-align: center;
  padding: 2em;
}
.bottom-section__title {
  margin-block-end: 1em;
  font-size: clamp(2.3rem, 5.5vw, 4.4rem);
  color: var(--darkGray);
}
.bottom-section__text {
  color: var(--lightGray);
  font-size: clamp(1.3rem, 3vw, 2rem);
  line-height: 160%;
}
.bottom-section__buttons {
  margin-block-start: 3.5em;
}
.bottom-section__btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.1em 2em;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
}
.bottom-section__btn--green {
  background-color: var(--iosBtn);
  box-shadow: 0 4px 0 hsl(171, 80%, 34%);
}
.bottom-section__btn--purple {
  margin-block-start: 1.5em;
  background-color: var(--macBtn);
  box-shadow: 0 4px 0 hsl(233, 77%, 57%);
}
.bottom-section__btn--green::before {
  box-shadow: 1px 5px 10px hsla(171, 66%, 44%, 0.466);
}
.bottom-section__btn--purple::before {
  box-shadow: 1px 5px 10px hsla(233, 66%, 44%, 0.466);
}
.bottom-section__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
}

.footer {
  background-color: #f5f6f8;
}
.footer__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 2em;
}
.footer__logo {
  display: block;
  margin-block-end: 3em;
  width: 50px;
  height: auto;
}
.footer__link {
  padding: 0.8em 0;
  display: block;
  text-decoration: none;
  color: var(--darkGray);
  font-weight: 500;
  font-size: clamp(1.5rem, 3vw, 1.7rem);
}
.footer__social {
  display: flex;
  gap: 3em;
  margin-block-start: 3em;
}

@media (576px <= width) {
  .header__content {
    padding: 12em 4em 10em;
  }
  .header__btn {
    font-size: 1.5rem;
  }
  .snippets__img {
    margin: 8em 0;
  }
  .snippets__title, .snippets__text {
    padding: 0 2em;
  }
  .workflow__content {
    padding: 4em;
  }
  .workflow__container-top {
    margin: 9em 0 12em;
  }
  .workflow__logo {
    width: 135px;
  }
  .bottom-section__content {
    padding: 4em;
  }
  .bottom-section__btn {
    font-size: 1.5rem;
  }
  .footer__content {
    padding: 6em 4em;
  }
  .footer__logo {
    width: 60px;
  }
}
@media (700px <= width) {
  .workflow__container-bottom {
    flex-flow: row wrap;
    justify-content: center;
    gap: 8em;
  }
  .footer__content {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__box-container {
    margin-inline-start: 3em;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    gap: 2em;
  }
  .footer__link {
    padding: 0;
  }
  .footer__link:nth-child(2) {
    padding-block-start: 0.8em;
  }
  .footer__social {
    margin: 0;
    margin-inline-start: auto;
  }
}
@media (768px <= width) {
  .header__img {
    width: 125px;
  }
  .header__bg-mobile-visible {
    display: none;
  }
  .header__bg-desktop-visible {
    display: block;
  }
  .header__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 4.5em;
    gap: 1.5em;
  }
  .header__btn {
    width: 30%;
    max-width: 220px;
    transition: transform 0.4s, box-shadow 0.4s, opacity 0.4s;
  }
  .header__btn--purple {
    margin: 0;
  }
  .header__btn:hover {
    transform: translateY(3px);
    box-shadow: none;
    opacity: 0.9;
  }
  .bottom-section__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-block-start: 4.5em;
  }
  .bottom-section__btn {
    width: 30%;
    max-width: 220px;
    transition: transform 0.4s, box-shadow 0.4s, opacity 0.4s;
  }
  .bottom-section__btn--purple {
    margin: 0;
  }
  .bottom-section__btn:hover {
    transform: translateY(3px);
    box-shadow: none;
    opacity: 0.9;
  }
  .footer__link {
    transition: color 0.3s;
  }
  .footer__link:hover {
    color: var(--iosBtn);
  }
  .footer__social-link svg path {
    transition: fill 0.3s;
  }
  .footer__social-link:hover svg path {
    fill: var(--iosBtn);
  }
}
@media (800px <= width) {
  .snippets__box {
    margin: 10em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .snippets__img-box {
    width: 55%;
  }
  .snippets__img {
    margin: 0;
    position: relative;
    left: -2em;
  }
  .snippets__subtitle {
    text-align: left;
    font-size: 2.4rem;
  }
  .snippets__info {
    text-align: left;
  }
  .snippets__info:last-child {
    margin-block-end: 0;
  }
  .snippets__box-info {
    width: 40%;
  }
  .workflow__container-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .workflow__box {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  .workflow__box:last-child .workflow__subtitle {
    margin-block-start: 0.2em;
  }
  .workflow__box-body {
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
  .workflow__subtitle {
    font-size: 3rem;
  }
  .workflow__info {
    font-size: 1.6rem;
  }
}
@media (992px <= width) {
  .header__btn {
    padding: 1.3em 2em;
  }
  .snippets__box-info {
    padding: 2em;
  }
  .clipboard__img {
    margin: 8em 0;
  }
  .workflow__container-bottom {
    justify-content: space-between;
  }
  .footer__social {
    align-self: center;
  }
}/*# sourceMappingURL=style.css.map */